<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @using System.Web.Optimization
    @Styles.Render("~/Contents/CSS")
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="container">

        <!-- navbar -->
        <div class="row mt-3">
            <div class="col">
                <div class="shadow border bg-white">
                    <div class="row">
                        <div class="col">
                            <nav class="navbar navbar-light pb-0 ">
                                <a class="navbar-brand navbar-brandcustom mr-0" href="/">
                                    <i class="fas fa-store-alt mr-1"></i>
                                    E-Ticaret
                                </a>
                                <ul class="nav">
                                    @if(User.Identity.IsAuthenticated)
                                    {
                                        <li class="nav-item nav-item-xsm li-user">

                                            <div class="dropdown">
                                                <button class="btn btn-outline-dark btn-sm mr-1 nav-btn-xsm btn-text btn-user dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-user mr-1"></i>@User.Identity.Name
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item text-center" href="/Account">Hesabım</a>
                                                    <a class="dropdown-item text-center" href="/Account/LogOut">Çıkış</a>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item nav-item-xsm">
                                            <a href="/Account/Login?ReturnUrl=@Request.Url.AbsoluteUri" class="btn btn-sm btn-outline-dark mr-1 nav-btn-xsm btn-text"><i class="fas fa-sign-in-alt mr-1"></i>Giriş Yap</a>
                                        </li>
                                        <li class="nav-item nav-item-xsm nav-btn-xsm-mx">
                                            <a href="/Account/Register" class="btn btn-sm btn-outline-dark mr-1 nav-btn-xsm btn-text"><i class="fas fa-user-plus mr-1"></i>Üye Ol</a>

                                        </li>

                                    }
                                    <li id="cart" class="nav-item nav-item-xsm">
                                        @Html.Action("_CartButton", "Cart")
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <nav class="navbar navbar-light pt-0">
                                @Html.Action("_GetMainCategories", "MainCategory")
                                <form class="search" action="/Home/Search" method="get">
                                    <div class="input-group input-group-sm search-sm">
                                        <input id="search" name="search" type="text" class="form-control" style="border-color: #343a40;" placeholder="Ara..." required maxlength="100">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-dark" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

        <!-- footer -->
        <footer class="bg-dark text-secondary">
            <div class="container">
                <div class="row p-5">
                    <div class="col-sm">
                        <table class="fc">
                            <tr>
                                <td class="py-2 pr-2"><i class="fas fa-phone-alt"></i></td>
                                <td>+90 0850 1234567</td>
                            </tr>
                            <tr>
                                <td class="py-2"><i class="fas fa-envelope"></i></td>
                                <td>info@info.com.tr</td>
                            </tr>
                            <tr>
                                <td class="py-2"><i class="fas fa-map-marker-alt"></i></td>
                                <td>İstanbul/Türkiye</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm fh">
                        <h3>Lorem, ipsum dolor.</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia est culpa consequatur iste
                            tempore
                            maiores provident esse, veritatis voluptate nulla?
                        </p>
                    </div>

                </div>
                <hr class="m-0">
                <p class="m-0 pb-2">© 2019 Brand Sadullah ASLAN</p>
            </div>
        </footer>

        @*model depete eklendi*@
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content bg-success">
                    <div class="modal-body text-white">
                        <strong>
                            <p style="font-size:24px;margin:0">
                                <i class="far fa-check-square"></i>
                                <span id="modalText"></span>
                            </p>
                        </strong>
                    </div>
                </div>
            </div>
        </div>

        @Scripts.Render("~/Scripts")
        @RenderSection("FilterScripst", false)
        @RenderSection("AddressSelect", false)
    </div>
</body>

</html>