<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sipariş Özeti</title>
</head>
<body style="margin: 10px; box-shadow: 0px 5px 23px; font-family: arial; font-size: 12px;">
    <table style="width: 100%; border-collapse: collapse; text-align: center; font-size: 12px; border-color:#007bff;" border="1">
        <tbody>
            <tr style="background-color: #007bff; color: white;">
                <th colspan="3" style=" padding: 10px; text-align:left">
                    <strong>Sipariş No: </strong>@((Session["Order"] as Order).Id.Replace("-", "").ToUpper())
                </th>
            </tr>
            <tr style="background-color: #f8f9fa;">
                <th style="text-align: left; padding: 5px 10px;">
                    Ürün
                </th>
                <th style="width: 40px;">
                    Adet
                </th>
                <th style="width: 80px;">
                    Fiyat
                </th>
            </tr>
            @foreach(var orderDetail in (Session["Order"] as Order).OrderDetails)
            {
                <tr>
                    <td style="text-align: left; padding: 5px 10px;">
                        @orderDetail.Product.Name
                    </td>
                    <td>@orderDetail.Quantity</td>
                    <td>@orderDetail.UnitPrice.ToString("c", new CultureInfo("tr-TR", false).NumberFormat)</td>
                </tr>
            }
            <tr style="background-color: #f8f9fa;">
                <th style="text-align: left; padding: 5px 10px;">
                    Toplam
                </th>
                <td>
                    <b><u>@((Session["Order"] as Order).OrderDetails.Sum(i => i.Quantity))</u></b>
                </td>
                <td>
                    <b><u>@((Session["Order"] as Order).OrderDetails.Sum(i => i.UnitPrice).ToString("c", new CultureInfo("tr-TR", false).NumberFormat))</u></b>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 10px; text-align:left">
                    <p style="margin: 5px 0;">
                        <span style="font-weight: bold;">
                            @((Session["Order"] as Order).UserAddress.Title):
                        </span>
                    </p>
                    <p style="font-weight: bold;">
                        <span>
                            @((Session["Order"] as Order).UserAddress.ReceivingName)
                        </span>
                        <span>
                            @((Session["Order"] as Order).UserAddress.ReceivingPhone)
                        </span>
                    </p>
                    <p style="margin:0;">
                        @((Session["Order"] as Order).UserAddress.Address)
                    </p>

                </td>
            </tr>
            <tr>
                <td style="text-align:left;border-right:0;padding-left:10px;">
                    <span style="display: inline-block;">
                        <small style="border-bottom: 1px solid red;">
                            <strong>
                                Sipariş Durumu:
                            </strong>
                            @((Session["Order"] as Order).OrderStatus.Status)
                        </small>
                    </span>

                </td>
                <td colspan="2" style="border-left:0">
                    <a href="#" style="color: red; text-decoration: none; display: inline-block;">
                        Siparişi İptal Et
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>