@model Order
@{
    ViewBag.Title = "Sipariş Adresi";
}

<div class="row my-3">
    <div class="col">
        <div class="row">
            <div class="col-lg-9">
                <div class="card rounded-0">
                    <div class="card-body">
                        <div class="alert alert-primary font-weight-bold shadow-lg rounded-0">Sipariş Adresi</div>
                        @Html.DropDownList("Shipper", ViewBag.Shipper as SelectList, new { @class = "form-control mb-3 shadow rounded-0", @onchange="$('#shipper').val(this.value);", @id="ShipperList" })
                        @{int number = 1;}
                        @foreach(var Address in (ViewBag.User as User).UserAddresses.Where(i => i.IsDeleted == false).ToList())
                        {
                            <div id="address@(number.ToString())" onclick="SelectAddress(this)" name="address" class="card mb-3 rounded-0" style="opacity:0.3;cursor:pointer;" addressid="@Address.Id">
                                <div class="row no-gutters">
                                    <div class="col-sm-8 col-md p-1">
                                        <table style="height: 100%; width: 100%;">
                                            <tbody>
                                                <tr>
                                                    <td class="align-middle">
                                                        <p class="mb-2">
                                                            <span class="badge badge-secondary float-right">
                                                                @Address.Title
                                                            </span>
                                                        </p>
                                                        <p class="h5">
                                                            <span class="d-block d-sm-inline">
                                                                @Address.ReceivingName
                                                            </span>
                                                            <span class="d-block d-sm-inline">
                                                                @Address.ReceivingPhone
                                                            </span>
                                                        </p>
                                                        <p>
                                                            @Address.Address
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            number++;
                        }
                        <div id="newAddress" onclick="SelectAddress(this)" name="address" class="card mb-3 rounded-0" style="opacity:1">
                            <div class="row no-gutters">
                                <div class="col-md p-1">
                                    <button id="btnNewAddress" onclick="NewAddressForm()" type="button" class="btn btn-primary btn-block rounded-0">Yeni adres ekle</button>
                                    <form id="formNewAddress" class="collapse" action="/Order/NewOrderAddress" method="post">
                                        <fieldset>
                                            <input id="Title" name="Title" class="form-control mb-3" type="text" placeholder="Adres başlığı" required maxlength="50">
                                            <input id="ReceivingName" name="ReceivingName" class="form-control mb-3" type="text" placeholder="Alıcı ad soyad" required maxlength="20">
                                            <input id="ReceivingPhone" name="ReceivingPhone" class="form-control mb-3" type="number" placeholder="Alıcı telefon no" required>
                                            <textarea id="Address" name="Address" class="form-control" rows="3" placeholder="Adres" required maxlength="300"></textarea>
                                            <button type="submit" class="btn btn-primary mt-2 btn-block">Adresi Kaydet</button>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 pl-lg-0 mt-3 mt-lg-0">
                <div class="card rounded-0 mb-3">
                    <div class="card-body p-1">
                        <table class="table table-bordered table-sm text-center m-0" style="font-size: 11px;">
                            <thead class="table-dark">
                                <tr>
                                    <th class="text-left">Ürün</th>
                                    <th>Adet</th>
                                    <th>Fiyat</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var orderDetail in Model.OrderDetails)
                                {
                                    <tr>
                                        <td class="text-left">
                                            @(orderDetail.Product.Name.Length > 25 ? orderDetail.Product.Name.Substring(0, 25) + "..." : orderDetail.Product.Name)
                                        </td>
                                        <td class="text-center">
                                            @orderDetail.Quantity
                                        </td>
                                        <td>
                                            @orderDetail.UnitPrice.ToString("c", new CultureInfo("tr-TR", false).NumberFormat)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card rounded-0">
                    <div class="card-body text-center">
                        <p class="lead font-weight-bolder mb-1">GENEL TOPLAM</p>
                        <p class="lead font-weight-normal mb-2">
                            @Model.OrderDetails.Sum(i => i.UnitPrice).ToString("c", new CultureInfo("tr-TR", false).NumberFormat)
                        </p>
                        <form id="formContunie" action="/Order/AddToOrderAddress" method="get">
                            <input id="shipper" type="hidden" name="shipper" value="kargo firması"/>
                            <button type="submit" id="contunie" class="btn btn-success d-lg-block btn-continue disabled">Devam Et</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section AddressSelect{
    <script>
        $(document).ready(function () {
            $("#address1").trigger("click");
            $("#ShipperList").trigger("change");
        });
        function NewAddressForm() {
            $('#formNewAddress').collapse('show')
            $("#btnNewAddress").css("display", "none")
        }
        function SelectAddress(item) {
            var addresses = $("[name='address']")
            $.each(addresses, function (key, value) {
                value.style.opacity = 0.3;
                value.style.borderColor = "rgba(0, 0, 0, .125)";
                value.className = value.className.replace(/\bshadow-lg\b/g, "");
                if (value.id == "newAddress" && item.id != value.id) {
                    $('#formNewAddress').collapse('hide');
                    $("#btnNewAddress").css("display", "block");
                    $("#newAddress").css("opacity", "1")
                }
            });
            $(item).css("border", "1px solid #007bff").css("opacity", "1")
            $(item).addClass("shadow-lg")
            if ($(item).attr("id") == "newAddress") {
                $("#contunie").addClass("disabled")
            }
            else {
                $("#contunie").removeClass("disabled");
                $("#formContunie").attr("action", "/Order/AddToOrderAddress/" + $(item).attr("addressid"));
            }
        }
        function SelectShipper(e) {
            $("#shipper").val(e.value);
        }
    </script>
}

