@model E_Commerce_Project.AspNetMVC.Models.DTO.LoginDTO
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giriş Yap</title>
    @using System.Web.Optimization
    @Styles.Render("~/Contents/CSS")
    <style>
        .modal-footer {
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 m-auto">
                <div class="card card-body m-3 shadow-lg">
                    <a class="btn btn-outline-primary btn-block mb-4" href="/" style="font-size:25px">
                        <i class="fas fa-store-alt mr-1"></i>
                        <br />
                        E-Ticaret
                    </a>
                    @using(Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        <input type="hidden" name="returnUrl" id="returnUrl" value="@ViewBag.returnUrl" />
                        <span id="loginalerd" class="alert alert-danger text-center" style="font-size:12px;display:none" role="alert">@Html.Raw(ViewBag.LoginError)</span>
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.TextBoxFor(i => i.Email, new { @class = "form-control form-control-sm", @placeholder = "Mail Adresiniz" })
                            @Html.ValidationMessageFor(i => i.Email)

                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(i => i.Password, new { @class = "form-control form-control-sm", @placeholder = "Parolanız" })
                            @Html.ValidationMessageFor(i => i.Password)
                        </div>
                        <button type="submit" class="btn btn-sm btn-block btn-primary">Giriş Yap</button>
                    }
                    <button class="page-link mt-3 py-1 rounded" style="font-size: 13px;" data-toggle="modal" data-target="#exampleModalCenter">
                        Şifremi unuttum
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Şifre yenileme</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="mailaddress" type="email" class="form-control" placeholder="Email" />
                    <small class="p-1">Mail adresinizi yazıp gönder butonuna basınız.</small>
                </div>
                <div class="modal-footer">
                    <div id="successalert" class="alert alert-success m-0 p-2" style="display:none" role="alert">
                        Sıfırlama maili gönderildi.
                    </div>
                    <button id="sendmail" type="button" class="btn btn-primary">Gönder</button>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts")
    <script>
        $(document).ready(function () {
            var error = $("#loginalerd").text();
            if (error != "") {
                $("#loginalerd").css("display", "block");
            }

            $("#sendmail").click(function () {
                var mail = $("#mailaddress").val();
                var stringpaht = "http://localhost:50420/Account/PasswordReset?email=" + mail;

                $.ajax({
                    url: stringpaht,
                    success: function (data) {
                        $("#successalert").css("display","block");
                    }
                });
            });


        });
    </script>
</body>
</html>
