@model E_Commerce_Project.AspNetMVC.Models.DTO.ResetPasswordDTO
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Üye Ol</title>
    @using System.Web.Optimization
    @Styles.Render("~/Contents/CSS")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 m-auto">
                <div class="card card-body m-3 shadow-lg">
                    <a class="btn btn-outline-primary btn-block mb-4" href="/" style="font-size:25px">
                        <i class="fas fa-store-alt mr-1"></i>
                        <br />
                        E-Ticaret
                    </a>
                    @using(Html.BeginForm("ResetPassword", "Account", new { code = ViewBag.Code }, FormMethod.Post))
                    {
                        <span id="resetalerd" class="alert alert-success text-center" style="font-size:12px;display:none" role="alert">@Html.Raw(ViewBag.PasswordResetSuccess)</span>
                        @Html.AntiForgeryToken()
                        <div class="form-group xxxddd">
                            <label class="form-control">@ViewBag.UserName</label>
                        </div>
                        <div class="form-group xxxddd">
                            @Html.PasswordFor(i => i.Password, new { @class = "form-control form-control-sm", @placeholder = "Yeni Parolanız" })
                            @Html.ValidationMessageFor(i => i.Password)
                        </div>
                        <div class="form-group xxxddd">
                            @Html.PasswordFor(i => i.ConfirmPassword, new { @class = "form-control form-control-sm", @placeholder = "Parola Tekrar" })
                            @Html.ValidationMessageFor(i => i.ConfirmPassword)
                        </div>
                        <button type="submit" class="btn btn-sm btn-block btn-primary xxxddd">Sıfırla</button>
                    }
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts")
    <script>
        $(document).ready(function () {
            var error = $("#resetalerd").text();
            if (error != "") {
                $("#resetalerd").css("display", "block");
                $(".xxxddd").css("display", "none");
            }
        });
    </script>
</body>
</html>